:root{font-size: 20px; /* Tamaño base */}

*{margin: 0;padding: 0;}

body{background-image: url(../img/taberna.jpg);background-size: cover;min-height: 100vh;display: grid;grid-template-columns: repeat(12,1fr);grid-gap: 2vw;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

header, footer, nav{padding: 0%;font-size: 1.3rem; background-color: darkblue;color: white;text-align: center;font-family: 'Macondo', cursive;}

header{position: sticky;grid-column: span 12;top: 0;}

nav{display: flex;justify-content:space-between; align-items: stretch;}

.boton_nav{text-decoration: none;color:white;width: 80%; padding:0%;font-size: 2vw;display: flex;justify-content: center; align-items: center;}

.boton_nav:hover{background-color: rgb(71, 71, 199);}

#presentacion{grid-column: 2/7;display: flex;}

#la_taberna{grid-column: 7/12;display:flex;align-items: center;}

#img_taberna{width: 100%;}

#la_taberna_2{grid-column: 2/7;display:flex;align-items: center;}

#img_taberna_2{width: 100%;}

.formulario{grid-column: 7/12;}

#nuestros_juegos{grid-column: 2/12;}

#ludoteca{grid-column: 2/12;}

#horarios{grid-column: 2/7;}

#ubicacion{grid-column: 7/12;}

footer{grid-column: span 12;}

p{text-align: justify;margin: 1.5vw;}

iframe{width: 100%;}

h1{font-size: 5vw;}

h2{font-size: 3vw;text-align: center;}

.links{text-decoration: none;color: black;}

.redes a{padding: 2%;text-decoration: none;}

.fa-facebook:hover{color: #1877f2;}
.fa-whatsapp:hover{color: #25d366;}
.fa-instagram:hover{color: #c13584;}
.fa-telegram:hover{color: #0088cc;}
.fa-discord:hover{color: #7289da;}

footer a{color: white;}

footer p{margin: 0;text-align: center;}

footer div{padding: 0.7vw;}

.contenedor{padding: 1vw;background-color: white;border-radius: 1rem;}

.img_juego{width: 15vw; max-width: 100%;height: auto;/*display:flex;justify-content: space-around; align-items: center;*/}


table{width: 100%;border-collapse: collapse;text-align: center;font-size: 1.5vw;}

td{border: 3px black solid;}

th{padding: 1%;border: 3px black solid;color: white;background-color: darkblue;}

tbody tr:nth-child(odd) {background-color: #e6e6e6;}
  
tbody tr:nth-child(even) {background-color: #bdbdbd;}


.evento:nth-child(even){grid-column: 2/8;display: flex;z-index: -1}

.img_evento:nth-child(odd){grid-column: 8/12;display:flex;align-items: center;z-index: -1}

.evento:nth-child(odd){grid-column: 6/12;display: flex;z-index: -1}

.img_evento:nth-child(even){grid-column: 2/6;display:flex;align-items: center;z-index: -1}


#img_carcassonne{width: 100%;}

#img_rol{width: 100%;}

#img_catan{width: 100%;}

.formulario p {margin: 0.5%;}

legend{margin: 1%;font-size: 2vw;}

@media all and (min-width:480px) {
    header, footer, nav{padding: 0%;font-size: 1.3rem;text-align: center;}
    header{position: sticky;grid-column: span 12;top: 0;}
    nav{display: flex;justify-content:space-between; align-items: stretch;}
    .boton_nav{width: 80%; padding:0%;font-size: 2vw;display: flex;justify-content: center; align-items: center;}
    #presentacion{grid-column: 2/7;display: flex;}
    #la_taberna{grid-column: 7/12;display:flex;align-items: center;}
    #img_taberna{width: 100%;}
    #la_taberna_2{grid-column: 2/7;display:flex;align-items: center;}
    #img_taberna_2{width: 100%;}
    .formulario{grid-column: 7/12;}
    #nuestros_juegos{grid-column: 2/12;}
    #ludoteca{grid-column: 2/12;}
    #horarios{grid-column: 2/7;}
    #ubicacion{grid-column: 7/12;}
    footer{grid-column: span 12;}
    p{text-align: justify;margin: 1.5vw;}
    iframe{width: 100%;}
    h1{font-size: 5vw;}
    h2{font-size: 3vw;text-align: center;}
    .redes a{padding: 2%;}
    footer p{margin: 0;text-align: center;}
    footer div{padding: 0.7vw;}
    .contenedor{padding: 1vw;border-radius: 1rem;}
    .img_juego{width: 15vw; max-width: 100%;height: auto;/*display:flex;justify-content: space-around; align-items: center;*/}
    table{width: 100%;text-align: center;font-size: 1.5vw;}
    td{border: 3px black solid;}
    th{padding: 1%;border: 3px black solid;}
    .evento:nth-child(even){grid-column: 2/8;display: flex;z-index: -1}
    .img_evento:nth-child(odd){grid-column: 8/12;display:flex;align-items: center;z-index: -1}
    .evento:nth-child(odd){grid-column: 6/12;display: flex;z-index: -1}
    .img_evento:nth-child(even){grid-column: 2/6;display:flex;align-items: center;z-index: -1}
    #img_carcassonne{width: 100%;}
    #img_rol{width: 100%;}
    #img_catan{width: 100%;}
    .formulario p {margin: 0.5%;}
    legend{margin: 1%;font-size: 2vw;}
}

@media all and (min-width:800px) {
    header, footer, nav{padding: 0%;font-size: 1.3rem;text-align: center;}
    header{position: sticky;grid-column: span 12;top: 0;}
    nav{display: flex;justify-content:space-between; align-items: stretch;}
    .boton_nav{width: 80%; padding:0%;font-size: 2vw;display: flex;justify-content: center; align-items: center;}
    #presentacion{grid-column: 2/7;display: flex;}
    #la_taberna{grid-column: 7/12;display:flex;align-items: center;}
    #img_taberna{width: 100%;}
    #la_taberna_2{grid-column: 2/7;display:flex;align-items: center;}
    #img_taberna_2{width: 100%;}
    .formulario{grid-column: 7/12;}
    #nuestros_juegos{grid-column: 2/12;}
    #ludoteca{grid-column: 2/12;}
    #horarios{grid-column: 2/7;}
    #ubicacion{grid-column: 7/12;}
    footer{grid-column: span 12;}
    p{text-align: justify;margin: 1.5vw;}
    iframe{width: 100%;}
    h1{font-size: 5vw;}
    h2{font-size: 3vw;text-align: center;}
    .redes a{padding: 2%;}
    footer p{margin: 0;text-align: center;}
    footer div{padding: 0.7vw;}
    .contenedor{padding: 1vw;border-radius: 1rem;}
    .img_juego{width: 15vw; max-width: 100%;height: auto;/*display:flex;justify-content: space-around; align-items: center;*/}
    table{width: 100%;text-align: center;font-size: 1.5vw;}
    td{border: 3px black solid;}
    th{padding: 1%;border: 3px black solid;}
    .evento:nth-child(even){grid-column: 2/8;display: flex;z-index: -1}
    .img_evento:nth-child(odd){grid-column: 8/12;display:flex;align-items: center;z-index: -1}
    .evento:nth-child(odd){grid-column: 6/12;display: flex;z-index: -1}
    .img_evento:nth-child(even){grid-column: 2/6;display:flex;align-items: center;z-index: -1}
    #img_carcassonne{width: 100%;}
    #img_rol{width: 100%;}
    #img_catan{width: 100%;}
    .formulario p {margin: 0.5%;}
    legend{margin: 1%;font-size: 2vw;}
}

@media all and (min-width:1024px) {
    header, footer, nav{padding: 0%;font-size: 1.3rem;text-align: center;}
    header{position: sticky;grid-column: span 12;top: 0;}
    nav{display: flex;justify-content:space-between; align-items: stretch;}
    .boton_nav{width: 80%; padding:0%;font-size: 2vw;display: flex;justify-content: center; align-items: center;}
    #presentacion{grid-column: 2/7;display: flex;}
    #la_taberna{grid-column: 7/12;display:flex;align-items: center;}
    #img_taberna{width: 100%;}
    #la_taberna_2{grid-column: 2/7;display:flex;align-items: center;}
    #img_taberna_2{width: 100%;}
    .formulario{grid-column: 7/12;}
    #nuestros_juegos{grid-column: 2/12;}
    #ludoteca{grid-column: 2/12;}
    #horarios{grid-column: 2/7;}
    #ubicacion{grid-column: 7/12;}
    footer{grid-column: span 12;}
    p{text-align: justify;margin: 1.5vw;}
    iframe{width: 100%;}
    h1{font-size: 5vw;}
    h2{font-size: 3vw;text-align: center;}
    .redes a{padding: 2%;}
    footer p{margin: 0;text-align: center;}
    footer div{padding: 0.7vw;}
    .contenedor{padding: 1vw;border-radius: 1rem;}
    .img_juego{width: 15vw; max-width: 100%;height: auto;/*display:flex;justify-content: space-around; align-items: center;*/}
    table{width: 100%;text-align: center;font-size: 1.5vw;}
    td{border: 3px black solid;}
    th{padding: 1%;border: 3px black solid;}
    .evento:nth-child(even){grid-column: 2/8;display: flex;z-index: -1}
    .img_evento:nth-child(odd){grid-column: 8/12;display:flex;align-items: center;z-index: -1}
    .evento:nth-child(odd){grid-column: 6/12;display: flex;z-index: -1}
    .img_evento:nth-child(even){grid-column: 2/6;display:flex;align-items: center;z-index: -1}
    #img_carcassonne{width: 100%;}
    #img_rol{width: 100%;}
    #img_catan{width: 100%;}
    .formulario p {margin: 0.5%;}
    legend{margin: 1%;font-size: 2vw;}
}

@media all and (min-width:1200px) {
    header, footer, nav{padding: 0%;font-size: 1.3rem;text-align: center;}
    header{position: sticky;grid-column: span 12;top: 0;}
    nav{display: flex;justify-content:space-between; align-items: stretch;}
    .boton_nav{width: 80%; padding:0%;font-size: 2vw;display: flex;justify-content: center; align-items: center;}
    #presentacion{grid-column: 2/7;display: flex;}
    #la_taberna{grid-column: 7/12;display:flex;align-items: center;}
    #img_taberna{width: 100%;}
    #la_taberna_2{grid-column: 2/7;display:flex;align-items: center;}
    #img_taberna_2{width: 100%;}
    .formulario{grid-column: 7/12;}
    #nuestros_juegos{grid-column: 2/12;}
    #ludoteca{grid-column: 2/12;}
    #horarios{grid-column: 2/7;}
    #ubicacion{grid-column: 7/12;}
    footer{grid-column: span 12;}
    p{text-align: justify;margin: 1.5vw;}
    iframe{width: 100%;}
    h1{font-size: 5vw;}
    h2{font-size: 3vw;text-align: center;}
    .redes a{padding: 2%;}
    footer p{margin: 0;text-align: center;}
    footer div{padding: 0.7vw;}
    .contenedor{padding: 1vw;border-radius: 1rem;}
    .img_juego{width: 15vw; max-width: 100%;height: auto;/*display:flex;justify-content: space-around; align-items: center;*/}
    table{width: 100%;text-align: center;font-size: 1.5vw;}
    td{border: 3px black solid;}
    th{padding: 1%;border: 3px black solid;}
    .evento:nth-child(even){grid-column: 2/8;display: flex;z-index: -1}
    .img_evento:nth-child(odd){grid-column: 8/12;display:flex;align-items: center;z-index: -1}
    .evento:nth-child(odd){grid-column: 6/12;display: flex;z-index: -1}
    .img_evento:nth-child(even){grid-column: 2/6;display:flex;align-items: center;z-index: -1}
    #img_carcassonne{width: 100%;}
    #img_rol{width: 100%;}
    #img_catan{width: 100%;}
    .formulario p {margin: 0.5%;}
    legend{margin: 1%;font-size: 2vw;}
}