:root{font-size: 20px; /* Tamaño base */}

*{margin: 0;padding: 0;}

body{background-image: url(../img/taberna.jpg);min-height: 100vh;display: grid;grid-template-columns: repeat(12,1fr);}

header, footer, nav{padding: 1%;/*border-radius: 2rem;*/font-size: 1rem;background-color: darkblue;color: white;text-align: center;font-family: 'Macondo', cursive;}

header{position: sticky;grid-column: span 12;top: 0;/*right: 0;*/}

#presentacion{grid-column: 2/7;}

#la_taberna{grid-column: 7/12;}

#nuestros_juegos{grid-column: 2/12;}

#ludoteca{grid-column: 2/12;}

#horarios{grid-column: 2/7;}

#ubicacion{grid-column: 7/12;}

p{text-align: justify;margin: 2%;}

iframe{width: 100%;}

h1{font-size: 4rem;}

.links{text-decoration: none;color: black;}

nav{display: flex;justify-content:space-around;}

.boton_nav{text-decoration: none;color:white;}

footer{grid-column: span 12;}

footer a{color: white;}

<<<<<<< HEAD
.contenedor{margin: 1%;padding: 1%;background-color: white;}
=======
.contenedor{margin: 1%;padding: 1%;background-color: white;min-height: 92%;}
>>>>>>> a3d37828fa9480fc571c9e59928b3b597a5831c5

#img_taberna{padding: 2%;width: 96%;}

.img_juego{max-width: 300px;max-height: 300px;}

h2{font-size: 2.5rem;text-align: center;}

table{margin: 0%;padding: 1%;width: 100%;border-collapse: collapse;text-align: center;}

td{padding: 1%;border: 3px black solid;}

th{padding: 1%;border: 3px black solid;color: white;background-color: darkblue;}

tbody tr:nth-child(odd) {background-color: #e6e6e6;}
  
tbody tr:nth-child(even) {background-color: #bdbdbd;}

.evento:nth-child(even){margin: 1%;grid-column: 2/8;}

.img_evento:nth-child(odd){grid-column: 8/12;}

.evento:nth-child(odd){margin: 1%;grid-column: 6/12;}

.img_evento:nth-child(even){grid-column: 2/6;}

#img_carcassonne{margin: 2%;width: 96%;}

#img_rol{margin: 2%;width: 96%;}

#img_catan{margin: 2%;width: 96%;}
